<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Downloads -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Downloads on low api devices -->
  <uses-permission
    android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" /> <!-- Plugin API -->
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <!-- For Android 13+ -->
  <uses-permission
    android:name="android.permission.READ_MEDIA_VIDEO"
    tools:ignore="SelectedPhotoAccess" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />

  <uses-feature
    android:name="android.software.leanback"
    android:required="false" />

  <application
    android:name=".VVFApplication"
    android:allowBackup="true"
    android:appCategory="productivity"
    android:banner="@mipmap/ic_launcher"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:enableOnBackInvokedCallback="true"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:targetApi="tiramisu">

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:supportsPictureInPicture="true"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.MUSIC_PLAYER" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        <category android:name="android.intent.category.APP_MUSIC" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="vvf" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="avp.repo"
          android:pathPrefix="/"
          android:scheme="https" />
      </intent-filter>

      <!--
           Allow opening from continue watching with intents: avpwatchnext://ids.hashCode
           Used on Android TV Watch Next
            -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="avpwatchnext" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ExceptionActivity"
      android:exported="true" />

    <service
      android:name="androidx.work.impl.foreground.SystemForegroundService"
      android:exported="false"
      android:foregroundServiceType="dataSync" />

    <service
      android:name="cloud.app.vvf.features.player.PlayerService"
      android:exported="true"
      android:foregroundServiceType="mediaPlayback">
      <intent-filter>
        <action android:name="androidx.media3.session.MediaSessionService" />
      </intent-filter>
    </service>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      tools:node="remove"></provider>

  </application>

</manifest>
