<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />

  <uses-feature
    android:name="android.software.leanback"
    android:required="false" />

  <application
    android:name=".AVPApplication"
    android:allowBackup="true"
    android:appCategory="productivity"
    android:banner="@mipmap/ic_launcher"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:targetApi="31">

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.MUSIC_PLAYER" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        <category android:name="android.intent.category.APP_MUSIC" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="avp" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="avp.repo"
          android:pathPrefix="/"
          android:scheme="https" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ExceptionActivity"
      android:exported="true" />
  </application>

</manifest>
